/* Versions Component - Default to dark theme */
.container {
  display: flex;
  flex-direction: column;
}

.versionFooter {
  text-align: center;
}

.versionText {
  font-size: 0.875rem;
  font-weight: 500;
  color: #a0a0a0;
}

.versionText.light {
  color: #666666;
}
