* {
  border-radius: 0 !important;
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  background-color: #6c757d !important;
  color: white !important;
  border: 1px solid #212529 !important;
}

:focus {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

::selection {
  background-color: #212529;
}

.prefsCloseButton {
  z-index: 9999;
  position: fixed;
  left: 10px;
  bottom: 10px;
}
.qkAssociatedTool {
  display: inline-block;
  padding-right: .2rem;
  margin-bottom: .2rem;
}
.qkAssociatedTools {
  margin-bottom: .2rem;
}
.qkSelectCardBody {
  padding: .2rem;
}
.qkSelectTitle {
  font-weight: 700;
  font-size: .75rem;
  margin-bottom: .2rem;
}
.qkSelectSubtitle {
  font-size: .5rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: .2rem;
}
.qkSelectCaptureGroups {
  padding: 0;
  padding-left: .5rem;
}
.qkSelectCaptureGroups .card-text {
  font-size: .7rem;
  font-weight: 600;
  margin-block-end: .2rem;
}
.qkSelectCaptureGroups ul {
  padding-left: .7rem;
  font-size: .6rem;
  font-weight: 400;
  margin-block-end: .2rem;
}
.qkSelectCaptureGroups ul li {
  line-height: .7rem;
}
.regex-option {
  padding-left: .3rem;
}
.qkSelectFooter {
  padding: .2rem;
}
.qkSelectFooter .card-link {
  margin: .1rem;
  padding: .1rem;
  font-size:small;
}

.qkTool, .qkTerm {
  padding: .2rem;
}
.qkCard {
  margin: 0;
  padding: 0;
}
.qkCard .card-body {
  padding: .3rem;
}
.qkCard .card-header {
  margin: .2rem;
  padding: 0;
  font-weight: 400;
  font-style: oblique;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.main {
  padding-top: 37px;
  padding-right: -17px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
}

.dark {
  background-color: black;
  color: whitesmoke;
}
.dark .list-group-item-action:active,
.dark .list-group-item-action:hover,
.dark .list-group-item-action:focus {
  background-color: #004085;
  color: white;
}

.clips {
  background-color: black;
  position: absolute;
}

.header {
  -webkit-app-region: drag;
}

.menu {
  padding-left: 5px;
  line-height: 1;
}

.navbar-nav {
  -webkit-app-region: drag;
}

.nav-link {
  -webkit-app-region: no-drag;
}

.navbar-toggler {
  width: 31px;
  padding: 0;
  border: 0;
  -webkit-app-region: no-drag;
}

.navbar-toggler-icon {
  height: 31px;
  width: 31px;
}

.header.navbar {
  min-height: 31px !important;
  padding: 3px !important;
}

.header .navbar-brand {
  height: 31px !important;
  padding-top: 0 !important;
  padding-left: 3px;
  line-height: 31px !important;
}

.clip-number, .clip-number .btn {
  width: 34px;
}

.clip-number .btn {
  padding: 0;
}

.clip-settings {
  height: 31px;
}

.clip-settings .btn {
  width: 31px;
  height: 31px;
  padding-top: 2px;
  padding-left: 8px;
}

.dropdown-menu.show {
  transform: none !important;
}

.clip-editor {
  width: 100%;
  height: auto;
  white-space: pre-wrap;
}