* {
  border-radius: 0 !important;
}
/* body {
  background-color: black !important;
} */
input, textarea {
  background-color: #6c757d !important;
  color: white !important;
  border: 1px solid #212529 !important;
}
:focus {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
::selection {
  background-color: #212529;
}

.wrapper {
  padding-left: 0;
  padding-right: 0;
}

.main {
  padding-top: 40px;
}
.clips {
  background-color: black;
}

.header {
  -webkit-app-region: drag;
}
.menu {
  padding-left: 5px;
  line-height: 1;
}
.navbar-nav {
  -webkit-app-region: drag;
}
.nav-link {
  -webkit-app-region: no-drag;
}
.navbar-toggler {
  width: 34px;
  padding: 0;
  border: 0;
  -webkit-app-region: no-drag;
}
.navbar-toggler-icon {
  height: 34px;
  width: 34px;
}
.header.navbar {
  min-height: 34px !important;
  padding: 3px !important;
}

.header .navbar-brand {
  height: 34px !important;
  padding-top: 0 !important;
  padding-left: 3px;
  line-height: 34px !important;
}

.clip-number, .clip-number .btn {
  width: 34px;
}
.clip-number .btn {
  padding: 0;
}

.clip-settings {
  height: 31px;
}
.clip-settings .btn {
  width: 31px;
  height: 31px;
  padding-top: 2px;
  padding-left: 8px;
}

.dropdown-menu.show {
  transform: none !important;
}